<!-- <div class="main">
  <div class="el1 base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
    voluptates ducimus hic tenetur nostrum quibusdam, laborum doloribus
    illo. Pariatur earum libero magni, ex sed magnam sapiente repudiandae
    dicta itaque quae?
  </div>
  <div class="el2 base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
    voluptates ducimus hic tenetur nostrum quibusdam, laborum doloribus
    illo. Pariatur earum libero magni, ex sed magnam sapiente repudiandae
    dicta itaque quae?
  </div>
  <div class="el3 base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
    voluptates ducimus hic tenetur nostrum quibusdam, laborum doloribus
    illo. Pariatur earum libero magni, ex sed magnam sapiente repudiandae
    dicta itaque quae?
  </div>
  <div class="el4 base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
    voluptates ducimus hic tenetur nostrum quibusdam, laborum doloribus
    illo. Pariatur earum libero magni, ex sed magnam sapiente repudiandae
    dicta itaque quae?
  </div>
  <div class="el5 base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
    voluptates ducimus hic tenetur nostrum quibusdam, laborum doloribus
    illo. Pariatur earum libero magni, ex sed magnam sapiente repudiandae
    dicta itaque quae?
  </div>
  <div class="el6 base">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque
    voluptates ducimus hic tenetur nostrum quibusdam, laborum doloribus
    illo. Pariatur earum libero magni, ex sed magnam sapiente repudiandae
    dicta itaque quae?
  </div>
</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. In itaque minus vel recusandae. Eius deleniti inventore minima doloribus alias tempore similique at culpa cumque excepturi maxime, eum quis reiciendis in.</div>
<div
  id="superid"
  class="base"
  onclick="some_function_name()"
  oncontextmenu="func2()"
  ondblclick="some_function_name2(this)"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
  consectetur perferendis! Neque totam magnam est aut? Explicabo, sed quam
  repudiandae assumenda consequuntur autem dicta earum cum qui pariatur
  culpa officiis.
</div>
<div onclick="alert('Вы нажали на элемент!')">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores,
  consectetur perferendis! Neque totam magnam est aut? Explicabo, sed quam
  repudiandae assumenda consequuntur autem dicta earum cum qui pariatur
  culpa officiis.
</div> -->

<p>Before</p>
<app-child></app-child>
<p>After</p>